* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Candara;
    background-image: url('../Images/trianglify-lowres.png');
    background-size: cover;
}

/* score button and timer */

.score-and-count {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#hs-box {
    background-color: rgba(148, 145, 145, 0.2);
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#hs-box:hover {
    border: 2px solid black;
    padding: 3px;
    background-color: rgba(148, 145, 145, 0.5);
}

#count-box {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

/* question and answers */

.quiz-container {
    display: flex;
    justify-content: center;
    margin-top: 12vh;
    margin-bottom: 12vh;
}

.container {
    width: 50vw;
    height: 50vh;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

#question {
    display:flex;
    justify-content: center;
    margin: 4vh;
    padding: 4vh;
}

.btn-grid {
    display: grid;
    grid-gap: 5vh;
    width: 50vw;
}

.btn {
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.btn:hover {
    border: 2px solid black;
    padding: 3px;
}

/* start button properties */

.start-btn {
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 2cm;
    font-weight: bold;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.start-btn:hover {
    border: 2px solid black;
    padding: 8px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.start {
    display: flex;
    justify-content: center;
    padding-bottom: 10vh;
}

/* for JS hide function  */
.hide {
    display: none;
}